node_modules
dist
*.crx
*.pem
*.map
AGENTS.md
/bilibili-api-17.4.1
/bilibili-html
CLAUDE.md
/.trae
/.continue
/.CLAUDE
/.agents
/.sisyphus
checklist.md
spec.md
tasks.md
skills-lock.json
/log
/nul
opencode.json
/skills
/docs